[workspace]
resolver = "2"
members = [
    "rusmpp",
    "rusmppc",
    "rusmpps",
    "rusmppy/rusmppyo3-reflection",
    "rusmppy/rusmppyc",
    "rusmppz",
    "rusmpp-core",
    "rusmpp-macros", "rusmpp-extra",
]
default-members = ["rusmpp"]
